  .nav-position{
    display: flex;
    justify-content: center;
  }

  .nav-position > * > *{
    margin: 0 3px;
  }

  .image{
    height: 320px;
    width: 290px;
  }
  
  .dim-spaced{ /* the divider component margin is too big*/
    margin: 10px 0;
  }
  
  .q-delete{ /* need space between button and form.control component*/
    margin: 7px 0;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .q-delete-space{/*for the first index only so the whitespace doesn't look weird*/
    height: 30px;
  }
  
  .page-width{/* the html inside the content component to have a "margin"*/
    display: flex;
    flex-direction: column;
    padding: 0 5%;
  }
  
  .header, .date, .rs-tag-text{
    text-transform: capitalize;
  }

  .date{
    border-radius: 5px;
    padding-bottom: 2px;
  }

  .shrink{ /*to scale down the image size for items*/
    transform: scale(0.5);
  }
  .box{
    border: solid 1px #D4D4D5;
    padding: 10px 10px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 0px #D4D4D5;
    transition: .1s;
  }
  .box:hover{
    border: solid 1px #BEBEBF;
    box-shadow: 0px 2px 0px #BEBEBF;
  }

  .content-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-card{
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transform: scale(1.2);
    max-width: 600px;
  }

  .section{
    height: 75vh;
  }


  .subheading{ /*subheading on homepage*/
    transform: translateY(-15px);
    font-size: 12px ;
    color: grey;
  }

  .pikachu{ /* styles for the pikachu on the homepage*/
    margin-top: 5px;
  }

  .button-resize{ /*styles for the add tag button*/
    transform: scale(.8) translateX(-15px);
  }

  .tag-shift-down{
    transform: translateY(10px);
  }
  .side-by-side{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .side-by-side > .card { /*remove the margin created by semantic in the instance*/
    margin: 0px 5vw;
    opacity: 0.65;
    transition: 0.1s;
  }

  .side-by-side > .card:hover {
      
    opacity: 1;
  }

  .normal {background: #A8A878}
  .fire {background: #EA8033 }
  .water {background: #89A2DF}
  .grass {background: #78C850 }
  .electric {background: #F8D030}
  .ice {background: #98D8D8}
  .fighting {background: #C03028 }
  .poison {background: #A040A0}
  .ground {background: #E0C068}
  .flying {background: #A890F0 }
  .psychic {background: #F85888 }
  .bug {background: #A8B820}
  .rock {background: #B8A038}
  .ghost {background: #705898}
  .dark {background: #705848}
  .dragon {background: #7038F8}
  .steel {background: #B8B8D0}
  .fairy {background: #F0B6BC }

/* @normal:#A8A878;
@fire:#EA8033;
@water:#89A2DF;
@grass:#78C850;
@electric:#F8D030;
@ice:#F8D030;
@fighting:#C03028;
@poison:#A040A0;
@ground:#E0C068;
@flying:#A890F0;
@psychic:#F85888;
@bug:#A8B820;
@rock:#B8A038;
@ghost:#705898;
@dark:#705848;
@dragon:#7038F8;
@steel:#B8B8D0;
@fairy:#F0B6BC; */
