.custom-nav-style{
  margin: 20px;
}

.image{
  height: 320px;
  width: 290px;
}

.dim-spaced{ /* the divider component margin is too big*/
  margin: 10px 0;
}

.q-delete{ /* need space between button and form.control component*/
  margin: 7px 0;
  display: flex;
  flex-direction: row-reverse;
}

.q-delete-space{/*for the first index only so the whitespace doesn't look weird*/
  height: 30px;
}

.page-width{/* the html inside the content component to have a "margin"*/
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.header, .date, .rs-tag-text{
  text-transform: capitalize;
}